{% include "header.html" %}

<div id="container">
    <p>This site was developed with Django, MySQL, Apache and mod_python for fun and to learn a few new tools</p>
    <p>The lobbying data comes from <a href="http://senate.gov/legislative/Public_Disclosure/database_download.htm">SOPR</a></p>
    <p>The django app which runs the site can be downloaded from <a href="https://github.com/bpilkerton/django-lobby">github</a></p>
    <p>The data was last downloaded 01/03/2009</p>
    <p>Ben Pilkerton<br /><a href="http://benpilkerton.org">benpilkerton.org</a><br /><a href="http://twitter.com/benpilkerton">@benpilkerton</a></p>
</div>

{% include "footer.html" %}
