<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>WhoLobbies.us</title>
    <link rel="shortcut icon" href="http://static.wholobbies.us/favicon.ico">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script> 
    <script type="text/javascript" src="http://static.wholobbies.us/js/jquery.tablesorter.js"></script>
    <link href="http://static.wholobbies.us/css/wholobbies.us.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://static.wholobbies.us/js/jquery-ui.js"></script>    

    <script type="text/javascript">
    $(function() {
        $('#c1i > ul').tabs();
    });
    </script>

</head>

<body>
<div id="header"><a href="http://wholobbies.us">wholobbies.us</a>&nbsp;<a href="/about">about</a></div>
